In [ ]:
# Assumptions in multilinear Regression
1. Linearity: The relationship between the predictors and the response is linear.
2. Independence: observations are independent of eah other.
3. Homosceddastictly: The residual(Y-Y_hat)exhibit constant variance at all levels of the predictor.
4. Normaal Distribution of Errors:The residuals of the model are normally distributed

In [8]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import statsmodels.formula.api as  smf 
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [10]:
cars =pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

# Description of columns 
- MPG: Milege of the car (Mile per Gallon) (This is y-column to be predicted)
- HP: Horse of the car (X1 column)
- VOL: Volume of the car(size) (X2 column)
- SP: Top speed of the car (Miles per Hour) (X3 column)
- WT: Weight of the car(pounds) (X4 Column)

In [13]:
cars.isnull().sum()

HP     0
MPG    0
VOL    0
SP     0
WT     0
dtype: int64

## Observations 
- There are no missing values 
- There are 81 observations (81 different cars data)
- The data types of the columns are also relevant and valid